@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Global Typography */

h1 {
  @apply text-4xl md:text-5xl font-bold tracking-tight;
}

h2 {
  @apply text-3xl font-semibold tracking-tight;
}

h3 {
  @apply text-xl font-semibold;
}

p {
  @apply text-base leading-relaxed;
}

small {
  @apply text-sm text-slate-200;
}

/* Compact cloud size */
.cloud-shape {
  position: relative;
  background: #dbeafe;
  width: 42px;
  height: 26px;
  border-radius: 18px;
}

/* Small top-left bubble */
.cloud-shape::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #dbeafe;
  border-radius: 50%;
  top: -10px;
  left: 2px;
}

/* Small top-right bubble */
.cloud-shape::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #dbeafe;
  border-radius: 50%;
  top: -8px;
  right: 1px;
}
