@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Global Typography */

h1 {
  @apply text-4xl md:text-5xl font-bold tracking-tight;
}

h2 {
  @apply text-3xl font-semibold tracking-tight;
}

h3 {
  @apply text-xl font-semibold;
}

p {
  @apply text-base leading-relaxed;
}

small {
  @apply text-sm text-slate-500;
}
